{% extends "base.html" %}
{% block start %}
<div class="container"><h1>This is sent email</h1>
<a href="{% url 'send_email' %}" class="btn btn-success">Send Email</a>

</div>

    <h1> This is a return page by django server</h1>
    <a href="/contact/">
        Contact
    </a>
    <a href="/about/">
        About
    </a>
    <p>
        {{people}}
    </p>
    <p>
        {{vegetables.firstOf}}
    </p>
    <p>
       {% if 'Tomato' in vegetables %}
            Yes Available
        {% else %}
            Not Available
        {% endif %}
    </p>
    <p>
        {{text}}
    </p>
    {% endblock %}